<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    table,
    th,
    td {
      padding: 5px;
      border-collapse: collapse;
      border: 1px solid black;
    }
  </style>
</head>

<body>
  {{if eq .Lang "VI"}}
  <table style="width:300px">
    <tr>
      <td>Tên miền:</td>
      <td><a href="{{.Website}}" target="_blank">{{.Website}}</a></td>
    </tr>
    <tr>
      <td>Tên đăng nhập:</td>
      <td><i><b>{{.Username}}</b></i></td>
    </tr>
    <tr>
      <td>Mật khẩu:</td>
      <td><i><b>{{.Password}}</b></i></td>
    </tr>
  </table>
  {{else}}
  <table style="width:300px">
    <tr>
      <td>Website:</td>
      <td><a href="{{.Website}}" target="_blank">{{.Website}}</a></td>
    </tr>
    <tr>
      <td>Username:</td>
      <td><i><b>{{.Username}}</b></i></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><i><b>{{.Password}}</b></i></td>
    </tr>
  </table>
  {{end}}
</body>

</html>