<template>
  <v-layout v-if="!IsLogin" align-center justify-center fill-height>
    <h1>{{ $t(`nav.disconnect`) }}</h1>
  </v-layout>
  <v-layout v-else>
    <v-card flat class="text-center transparent">
      <v-card-title class="font-weight-bold display-1 primary--text">
        Welcome to Demo
      </v-card-title>
      <v-card-text class="font-weight-bold title">
        Dashboard's coming soon...
      </v-card-text>
    </v-card>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>