<template>
  <v-layout>
    <v-col v-if="Group.isForm" cols :sm="12" class="pa-0">
      <v-form v-model="Group.isValid" ref="form">
        <v-card flat class="pt-5">
          <v-layout align-center class="px-3">
            <h2>{{ $t("menu.group") }}</h2>
            <v-spacer></v-spacer>
            <v-icon @click="_fnReset()" color="primary"> mdi-close </v-icon>
          </v-layout>
          <v-card-text>
            <v-row>
              <v-col cols :sm="12" class="py-0">
                <v-text-field
                  v-model="Group.obj.name"
                  :rules="[Rules.required]"
                >
                  <template #label>
                    {{ $t(`table.name`) }}
                    <span class="red--text"><b>*</b></span>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="px-4 mt-5">
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              :loading="Group.isLoading"
              :disabled="!Group.isValid"
              @click="
                Group.isCreate || Group.isClone ? _fnCreate() : _fnUpdate()
              "
            >
              {{
                Group.isCreate || Group.isClone
                  ? $t(`table.create`)
                  : $t(`table.update`)
              }}
            </v-btn>
            <v-btn
              outlined
              color="primary"
              :loading="Group.isLoading"
              @click="_fnReset()"
            >
              {{ $t(`table.cancel`) }}
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-col>

    <v-dialog
      persistent
      scrollable
      max-width="500"
      v-if="Group.isDelete"
      v-model="Group.isDelete"
    >
      <v-card>
        <v-card-title dense class="headline primary" />
        <v-card-text class="pt-2">
          {{ $t(`table.deleteMess`) }}
          <b>{{ Group.obj.name }}</b>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            :loading="Group.isLoading"
            @click="_fnDelete()"
          >
            {{ $t(`table.delete`) }}
          </v-btn>
          <v-btn
            outlined
            color="primary"
            :loading="Group.isLoading"
            @click="_fnReset()"
          >
            {{ $t(`table.cancel`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    model: "Group",
  }),
  methods: {
    _fnReset() {
      if (this.$refs.form) this.$refs.form.reset();
      this.fnResetFlagView(this.model);
    },
    _fnReFresh() {
      this._fnReset();
      this[this.model].isRefresh = true;
    },
    async _fnCreate() {
      const { code } = await this.fnPost({
        url: `/v1/admin/group`,
        model: this.model,
      });
      if (code === "Success") {
        this._fnReFresh();
      }
    },
    async _fnUpdate() {
      const { code } = await this.fnPut({
        url: `/v1/admin/group/${this[this.model].obj.id}`,
        model: this.model,
      });
      if (code === "Success") {
        this._fnReFresh();
      }
    },
    async _fnDelete() {
      const { code } = await this.fnDelete({
        url: `/v1/admin/group/${this[this.model].obj.id}`,
        model: this.model,
      });
      if (code === "Success") {
        this._fnReFresh();
      }
    },
  },
};
</script>
