<template>
  <div class="mb-5">
    <v-row>
      <v-col :sm="1">
        <span class="caption font-weight-bold">{{
          label || $t(`table.sourceCode`)
        }}</span>
        <span v-if="rules" class="ml-1 red--text caption"><b>*</b></span>
      </v-col>
      <v-col :sm="10" class="text-center">
        <span v-if="url">
          <span :class="isCopy ? 'primary white--text' : ''">{{
            HostCdn + url
          }}</span>
          <v-icon
            size="18"
            role="button"
            color="black--text"
            v-clipboard:copy="HostCdn + url"
            v-clipboard:success="() => (isCopy = true)"
          >
            mdi-content-copy
          </v-icon>
        </span>
      </v-col>
      <v-col v-if="upload" :sm="1" class="text-right pt-1 pr-0">
        <v-uploadFile :size="30" v-model="url" icon="mdi-cloud-upload" />
      </v-col>
    </v-row>
    <editor
      class="box"
      v-model="content"
      @init="editorInit"
      @input="_fnChange"
      :lang="lang || 'html'"
      :theme="theme || 'chrome'"
      :height="height || 200"
      :options="{
        enableBasicAutocompletion: true,
        enableLiveAutocompletion: true,
        enableSnippets: true,
        showLineNumbers: true,
        tabSize: 2,
      }"
    />
    <div class="hide">
      <v-text-field :rules="rules" :value="content" readonly />
    </div>
  </div>
</template>

<script>
export default {
  components: {
    editor: require("vue2-ace-editor"),
  },
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    value: String,
    rules: Array,
    label: String,
    lang: String,
    theme: String,
    height: Number,
    upload: Boolean,
  },
  data() {
    return {
      url: "",
      content: "",
      isCopy: false,
    };
  },
  created() {
    this.content = this.value || "";
  },
  watch: {
    url: function () {
      this.isCopy = false;
    },
  },
  methods: {
    editorInit: function () {
      require("brace/ext/language_tools"); //language extension prerequsite...
      require("brace/mode/css");
      require("brace/mode/html");
      require("brace/mode/javascript"); //language
      require("brace/theme/chrome");
      require("brace/snippets/css");
      require("brace/snippets/html");
      require("brace/snippets/javascript"); //snippet
    },
    _fnChange() {
      this.$emit("change", this.content);
    },
  },
};
</script>

<style scoped>
.hide {
  display: none;
}
.box {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
</style>