<template>
  <v-card flat class="pa-1" color="secondary lighten-3">
    <chart
      :type="type"
      :data="data"
      :options="{
        height: 280,
        chartArea: { width: '90%', height: '70%' },
        ...options,
      }"
    />
  </v-card>
</template>

<script>
import { GChart } from "vue-google-charts/legacy";

export default {
  components: {
    chart: GChart,
  },
  props: {
    type: {
      required: true,
      type: String,
    },
    data: {
      required: true,
      type: Array,
    },
    options: Object,
  },
};
</script>
