<template>
  <v-menu
    offset-y
    ref="dateMenu"
    color="primary"
    min-width="290px"
    v-model="dateMenu"
    transition="scale-transition"
    :close-on-content-click="false"
    :max-width="`${$vuetify.breakpoint.xs ? 290 : 580}px`"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-on="on"
        v-bind="attrs"
        :rules="rules"
        v-model="currentValue"
      >
        <template #label>
          {{ label || $t(`table.dateTime`) }}
          <span v-if="rules && rules.length" class="red--text"><b>*</b></span>
        </template>
      </v-text-field>
    </template>
    <v-time-picker
      ampm-in-title
      v-model="time"
      color="primary"
      @input="_fnTimeInput"
    />
    <v-date-picker v-model="date" color="primary" @input="_fnDateInput" />
  </v-menu>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    label: String,
    value: Object,
    rules: Array,
  },
  data() {
    return {
      date: "",
      time: "",
      dateMenu: false,
      currentValue: "",
    };
  },
  created() {
    if (this.value) {
      this.currentValue = this.$moment(this.value).format("HH:mm DD/MM/YYYY");
      this.date = this.$moment(this.value).format("YYYY-MM-DD");
      this.time = this.$moment(this.value).format("HH:mm");
    }
  },
  methods: {
    _fnFormatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    _fnDateInput(date) {
      this.date = date;
      this.currentValue =
        (this.time || "00:00") + " " + this._fnFormatDate(date);
      this.$emit(
        "change",
        this.$moment(`${this.currentValue}`, "HH:mm DD/MM/YYYY")
      );
    },
    _fnTimeInput(time) {
      this.time = time;
      this.currentValue =
        this.time +
        " " +
        (this.date
          ? this._fnFormatDate(this.date)
          : this.$moment().format("DD/MM/YYYY"));
      this.$emit(
        "change",
        this.$moment(`${this.currentValue}`, "HH:mm DD/MM/YYYY")
      );
    },
  },
};
</script>
