<template>
  <v-menu
    offset-y
    ref="dateMenu"
    max-width="290px"
    min-width="290px"
    v-model="dateMenu"
    transition="scale-transition"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-on="on"
        v-bind="attrs"
        :rules="rules"
        :clearable="!rules"
        v-model="currentValue"
        @input="_fnClearInput"
        :disabled="disabled"
      >
        <template #label>
          {{ label || $t(`table.dateRange`) }}
          <span v-if="rules && rules.length" class="red--text"><b>*</b></span>
        </template>
      </v-text-field>
    </template>
    <v-date-picker
      range
      no-title
      v-model="date"
      color="primary"
      @input="_fnDateInput"
    />
  </v-menu>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    label: String,
    value: Array,
    rules: Array,
    disabled: Boolean,
  },
  data() {
    return {
      date: [],
      dateMenu: false,
      currentValue: "",
    };
  },
  watch: {
    value: function () {
      this._fnInit();
    },
  },
  created() {
    this._fnInit();
  },
  methods: {
    _fnInit() {
      if (this.value && this.value.length === 2) {
        const start = this.$moment(this.value[0]).startOf("day");
        const end = this.$moment(this.value[1]).endOf("day");
        this.date = [start.format("YYYY-MM-DD"), end.format("YYYY-MM-DD")];
        this.currentValue = this._fnFormatDateRange(this.date[0], this.date[1]);
      } else {
        this.date = [];
        this.currentValue = "";
      }
    },
    _fnFormatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    _fnFormatDateRange(start, end) {
      return `${this._fnFormatDate(start)} ~ ${this._fnFormatDate(end)}`;
    },
    _fnDateInput(date) {
      if (date && date.length == 2) {
        const start = this.$moment(date[0], "YYYY-MM-DD").startOf("day");
        const end = this.$moment(date[1], "YYYY-MM-DD").endOf("day");
        if (start <= end) {
          this.currentValue = this._fnFormatDateRange(date[0], date[1]);
          this.$emit("change", [start, end]);
        } else {
          this.currentValue = this._fnFormatDateRange(date[1], date[0]);
          this.$emit("change", [end, start]);
        }
      }
    },
    _fnClearInput() {
      this.date = [];
      this.currentValue = "";
      this.$emit("change", []);
    },
  },
};
</script>
