<template>
  <v-menu
    offset-y
    ref="dateMenu"
    color="primary"
    max-width="290px"
    min-width="290px"
    v-model="dateMenu"
    transition="scale-transition"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-on="on"
        v-bind="attrs"
        :rules="rules"
        v-model="currentValue"
      >
        <template #label>
          {{ label || $t(`table.date`) }}
          <span v-if="rules && rules.length" class="red--text"><b>*</b></span>
        </template>
      </v-text-field>
    </template>
    <v-date-picker
      no-title
      v-model="date"
      color="primary"
      @input="_fnDateInput"
    />
  </v-menu>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    label: String,
    value: String,
    rules: Array,
  },
  data() {
    return {
      date: "",
      dateMenu: false,
      currentValue: "",
    };
  },
  created() {
    if (this.value) {
      const day = this.$moment(this.value).startOf("day");
      this.date = day.format("YYYY-MM-DD");
      this.currentValue = this._fnFormatDate(this.date);
    }
  },
  methods: {
    _fnFormatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    _fnDateInput(date) {
      this.date = date;
      this.dateMenu = false;
      this.currentValue = this._fnFormatDate(date);
      this.$emit("change", this.$moment(date, "YYYY-MM-DD").startOf("day"));
    },
  },
};
</script>
