<template>
  <div
    v-if="Notifications.length"
    :style="{
      position: `fixed`,
      right: `8px`,
      top: `56px`,
      height: `auto`,
      zIndex: `10000`,
      display: `flex`,
      flexDirection: `column`,
      justifyContent: `flex-end`,
    }"
  >
    <div
      :style="{
        heigh: `80px`,
        overflow: 'auto',
      }"
    >
      <div v-for="notification in Notifications" :key="notification.key">
        <v-alert :type="notification.type" min-width="200px" border="left">
          {{ notification.message }}
        </v-alert>
      </div>
    </div>
  </div>
</template>
