<template>
  <v-autocomplete
    :items="list"
    :rules="rules"
    v-model="select"
    :clearable="!rules"
    :multiple="multiple"
    :disabled="disabled"
    @change="_fnChange()"
  >
    <template #label>
      {{ $t(`table.province`) }}
      <span class="red--text" v-if="rules"><b>*</b></span>
    </template>
  </v-autocomplete>
</template>

<script>
export default {
  model: {
    prop: "selected",
    event: "change",
  },
  props: {
    rules: Array,
    label: String,
    multiple: Boolean,
    disabled: Boolean,
    selected: [String, Array],
  },
  data() {
    return {
      list: [],
      select: "",
    };
  },
  watch: {
    selected: function () {
      this.select = this.selected || "";
    },
  },
  created() {
    this.Province.filter.limit = 1000;
    this.Province.filter.sorts = "name:1";
    this.fnGets({
      url: "/v1/static/province",
      model: "Province",
    }).then(({ data }) => {
      this.Province.list = [];
      this.list = data.map((e) => ({ text: e.name, value: e.id }));
      this.select = this.selected || "";
    });
  },
  methods: {
    _fnChange() {
      this.$emit("change", this.select);
    },
  },
};
</script>
