<template>
  <span v-if="IsLogin">
    <v-card class="mx-auto">
      <v-navigation-drawer
        app
        fixed
        clipped
        v-if="drawer"
        permanent
        :temporary="$vuetify.breakpoint.xs"
      >
        <v-list>
          <v-list-group
            v-for="item in menu"
            :key="item.title"
            v-model="item.active"
            class="secondary lighten-4 mb-2"
            active-class="primary font-weight-bold white--text"
          >
            <template v-slot:activator>
              <v-icon size="18" class="mr-2">{{ item.icon }}</v-icon>
              <v-list-item-content class="font-weight-bold">
                {{ item.title }}
              </v-list-item-content>
            </template>
            <v-list-item
              dense
              v-for="child in item.items"
              :key="child.path"
              :to="child.path"
              class="white pl-10"
              active-class="font-weight-bold"
              @click="showMenu"
            >
              <v-icon size="18" class="mr-2">{{ child.icon }}</v-icon>
              <span>{{ child.title }}</span>
            </v-list-item>
          </v-list-group>
        </v-list>
      </v-navigation-drawer>
    </v-card>
  </span>
</template>

<script>
export default {
  props: {
    drawer: Boolean,
    showMenu: Function,
  },
  created() {
    this.current = window.location.hash.replace("#", "");
  },
  computed: {
    menu() {
      let menu = [];

      const das = {
        icon: "mdi-view-dashboard",
        title: this.$t("menu.dashboard"),
        active: false,
        items: [],
      };
      das.items.push({
        title: this.$t("menu.dashboard"),
        path: "/",
        icon: "mdi-image-filter-vintage",
      });
      if (das.items.length) {
        das.active = das.items.map((e) => e.path).includes(this.current);
        menu.push(das);
      }

      const acc = {
        icon: "mdi-view-dashboard",
        title: this.$t("menu.account"),
        active: false,
        items: [],
      };
      if (this.fnCheckPermission(this.Session, [this.ROLE_VIEW])) {
        acc.items.push({
          title: this.$t("menu.role"),
          path: "/role",
          icon: "mdi-image-filter-vintage",
        });
      }
      if (this.fnCheckPermission(this.Session, [this.GROUP_VIEW])) {
        acc.items.push({
          title: this.$t("menu.group"),
          path: "/group",
          icon: "mdi-image-filter-vintage",
        });
      }
      if (this.fnCheckPermission(this.Session, [this.ACCOUNT_VIEW])) {
        acc.items.push({
          title: this.$t("menu.account"),
          path: "/account",
          icon: "mdi-image-filter-vintage",
        });
      }
      if (acc.items.length) {
        acc.active = acc.items.map((e) => e.path).includes(this.current);
        menu.push(acc);
      }

      return menu;
    },
  },
};
</script>
