<template>
  <v-autocomplete
    :items="list"
    :rules="rules"
    v-model="select"
    :clearable="!rules"
    :multiple="multiple"
    :disabled="disabled"
    @change="_fnChange()"
  >
    <template #label>
      {{ $t(`table.status`) }}
      <span class="red--text" v-if="rules"><b>*</b></span>
    </template>
  </v-autocomplete>
</template>

<script>
export default {
  model: {
    prop: "selected",
    event: "change",
  },
  props: {
    rules: Array,
    label: String,
    multiple: Boolean,
    disabled: Boolean,
    selected: [String, Array],
  },
  data() {
    return {
      list: [],
      select: "",
    };
  },
  watch: {
    selected: function () {
      this.select = this.selected || "";
    },
  },
  created() {
    this.list = this.Meta.obj["STATUS_ACCOUNT"].map((e) => ({
      text: e.name,
      value: e.id,
    }));
    this.select = this.selected || "";
  },
  methods: {
    _fnChange() {
      this.$emit("change", this.select);
    },
  },
};
</script>
