<template>
  <div class="mb-5">
    <span class="caption">{{ label || $t(`table.tag`) }}</span>
    <span v-if="rules" class="ml-1 red--text caption"><b>*</b></span>
    <v-input-tag v-model="tag" :tags="tags" @tags-changed="_fnChange" />
    <div class="hide">
      <v-text-field :rules="rules" :value="tags.join()" readonly />
    </div>
  </div>
</template>

<script>
import VueTagsInput from "@johmun/vue-tags-input";

export default {
  components: {
    "v-input-tag": VueTagsInput,
  },
  model: {
    prop: "selected",
    event: "change",
  },
  props: {
    rules: Array,
    label: String,
    selected: Array,
  },
  data() {
    return {
      tag: "",
      tags: [],
    };
  },
  created() {
    this.tags = this.selected.map((e) => ({ text: e, classes: "primary" }));
  },
  methods: {
    _fnChange(items) {
      this.tags = items.map((e) => ({ text: e.text, classes: "primary" }));
      this.$emit(
        "change",
        items.map((e) => e.text)
      );
    },
  },
};
</script>

<style scoped>
.hide {
  display: none;
}
.vue-tags-input {
  max-width: 100% !important;
  border: 0.1px solid black !important;
}
</style>