<template>
  <v-menu
    offset-y
    ref="timeMenu"
    color="primary"
    max-width="290px"
    min-width="290px"
    v-model="timeMenu"
    transition="scale-transition"
    :close-on-content-click="false"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-on="on"
        v-bind="attrs"
        :rules="rules"
        v-model="currentValue"
      >
        <template #label>
          {{ label || $t(`table.time`) }}
          <span v-if="rules && rules.length" class="red--text"><b>*</b></span>
        </template>
      </v-text-field>
    </template>
    <v-time-picker
      ampm-in-title
      v-model="time"
      color="primary"
      @input="_fnTimeInput"
    />
  </v-menu>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change",
  },
  props: {
    label: String,
    value: String,
    rules: Array,
  },
  data() {
    return {
      time: "",
      timeMenu: false,
      currentValue: "",
    };
  },
  created() {
    this.time = this.value;
    this.currentValue = this.value;
  },
  methods: {
    _fnTimeInput(time) {
      this.time = time;
      this.currentValue = time;
      this.$emit("change", this.time);
    },
  },
};
</script>
