<template>
  <div role="button">
    <div class="caption font-weight-bold" v-if="label">
      {{ label }}
      <span class="red--text" v-if="rules"><b>*</b></span>
    </div>
    <v-avatar :tile="!rounded" :width="width || size" :height="height || size">
      <div v-if="link || (images && images.length)">
        <viewer v-if="readonly" :images="imgs">
          <img
            v-for="i in imgs"
            :key="i"
            :src="HostCdn + i"
            :style="{
              width: `${width || size}px`,
              height: `${height || size}px`,
            }"
          />
        </viewer>
        <div v-else>
          <img
            :style="{
              width: `${width || size}px`,
              height: `${height || size}px`,
            }"
            :src="HostCdn + link"
            @click="!readonly && $refs.input.click()"
          />
          <div class="img-icon">
            <v-icon color="grey">{{ icon || "mdi-camera" }}</v-icon>
          </div>
        </div>
      </div>
      <div
        v-else
        :class="icon ? '' : 'avatar-frame'"
        :style="{ width: `${width || size}px`, height: `${height || size}px` }"
        @click="!readonly && $refs.input.click()"
      >
        <v-icon color="primary">{{ icon || "mdi-camera" }}</v-icon>
      </div>
    </v-avatar>
    <div class="file-upload">
      <v-text-field required :rules="rules" :value="check" readonly />
      <input type="file" accept="image/*" ref="input" @change="_fnUpload" />
    </div>
  </div>
</template>

<script>
export default {
  model: {
    prop: "link",
    event: "change",
  },
  props: {
    link: String,
    rules: Array,
    label: String,
    readonly: Boolean,
    images: Array,
    icon: String,
    rounded: Boolean,
    size: {
      type: Number,
      default: 80,
    },
    width: Number,
    height: Number,
  },
  data() {
    return {
      imgs: [],
      check: "",
    };
  },
  created() {
    this.imgs = this.link ? [this.link] : this.images ? this.images : [];
    this.check = this.link;
  },
  methods: {
    async _fnUpload() {
      const { code, message, data } = await this.Api.upload({
        url: "/v1/cdn/image",
        files: [this.$refs.input.files[0]],
      });
      if (code == "Success") {
        this.check = data[0];
        this.$emit("change", data[0]);
        this.fnNotificationView({ type: "success", message });
      } else {
        this.fnNotificationView({ type: "error", message });
      }
    },
  },
};
</script>

<style scoped>
.avatar-frame {
  border: 2px dashed #009688;
  display: flex;
  justify-content: center;
}
.file-upload {
  display: none;
}
.img-icon {
  position: absolute;
}
</style>
