<template>
  <v-autocomplete
    :items="list"
    :rules="rules"
    v-model="select"
    :clearable="!rules"
    :multiple="multiple"
    :disabled="disabled"
    @change="_fnChange()"
  >
    <template #label>
      {{ $t(`table.ward`) }}
      <span class="red--text" v-if="rules"><b>*</b></span>
    </template>
  </v-autocomplete>
</template>

<script>
export default {
  model: {
    prop: "selected",
    event: "change",
  },
  props: {
    rules: Array,
    label: String,
    district: String,
    multiple: Boolean,
    disabled: Boolean,
    selected: [String, Array],
  },
  data() {
    return {
      list: [],
      select: "",
    };
  },
  watch: {
    district: function () {
      this.select = "";
      this.$emit("change", this.select);
      this._fnInit();
    },
  },
  created() {
    this._fnInit();
  },
  methods: {
    _fnInit() {
      this.Ward.filter.limit = 1000;
      this.Ward.filter.sorts = "name:1";
      this.Ward.filter["district_eq"] = this.district;
      this.fnGets({
        url: "/v1/static/ward",
        model: "Ward",
      }).then(({ data }) => {
        this.Ward.list = [];
        this.list = data.map((e) => ({ text: e.name, value: e.id }));
        this.select = this.selected || "";
      });
    },
    _fnChange() {
      this.$emit("change", this.select);
    },
  },
};
</script>
