<template>
  <v-layout>
    <v-col v-if="Account.isForm" cols :sm="12" class="pa-0">
      <v-form v-model="Account.isValid" ref="form">
        <v-card flat class="pt-5">
          <v-layout align-center class="px-3">
            <h2>{{ $t("menu.account") }}</h2>
            <v-spacer></v-spacer>
            <v-icon @click="_fnReset()" color="primary"> mdi-close </v-icon>
          </v-layout>
          <v-card-text>
            <v-row>
              <v-col cols :sm="3" class="py-0">
                <v-upload
                  :size="110"
                  class="mb-3"
                  :label="$t(`table.avatar`)"
                  v-model="Account.obj.avatar"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols :sm="6" class="py-0">
                <v-text-field
                  :rules="[Rules.required]"
                  v-model="Account.obj.name"
                >
                  <template #label>
                    {{ $t(`table.name`) }}
                    <span class="red--text"><b>*</b></span>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols :sm="6" class="py-0">
                <v-text-field
                  :rules="[Rules.required]"
                  v-model="Account.obj.username"
                >
                  <template #label>
                    {{ $t(`table.username`) }}
                    <span class="red--text"><b>*</b></span>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols :sm="6" class="py-0">
                <v-text-field
                  :rules="[Rules.required, Rules.phone]"
                  v-model="Account.obj.phone"
                >
                  <template #label>
                    {{ $t(`table.phone`) }}
                    <span class="red--text"><b>*</b></span>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols :sm="6" class="py-0">
                <v-text-field
                  :rules="[Rules.required, Rules.email]"
                  v-model="Account.obj.email"
                >
                  <template #label>
                    {{ $t(`table.email`) }}
                    <span class="red--text"><b>*</b></span>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols :sm="6" class="py-0">
                <v-roleAccount
                  v-model="Account.obj.role"
                  :rules="[Rules.required]"
                />
              </v-col>
              <v-col cols :sm="6" class="py-0">
                <v-statusAccount
                  v-model="Account.obj.status"
                  :rules="[Rules.required]"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols :sm="12" class="py-0">
                <v-groupAccount
                  v-model="Account.obj.groups"
                  :rules="[Rules.required]"
                  multiple
                />
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="px-4">
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              :loading="Account.isLoading"
              :disabled="!Account.isValid"
              @click="
                Account.isCreate || Account.isClone ? _fnCreate() : _fnUpdate()
              "
            >
              {{
                Account.isCreate || Account.isClone
                  ? $t(`table.create`)
                  : $t(`table.update`)
              }}
            </v-btn>
            <v-btn
              outlined
              color="primary"
              :loading="Account.isLoading"
              @click="_fnReset()"
            >
              {{ $t(`table.cancel`) }}
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-col>

    <v-dialog
      persistent
      scrollable
      max-width="500"
      v-if="Account.isDelete"
      v-model="Account.isDelete"
    >
      <v-card>
        <v-card-title dense class="headline primary" />
        <v-card-text class="pt-2">
          {{ $t(`table.deleteMess`) }}
          <b>{{ Account.obj.name }}</b>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            :loading="Account.isLoading"
            @click="_fnDelete()"
          >
            {{ $t(`table.delete`) }}
          </v-btn>
          <v-btn
            outlined
            color="primary"
            :loading="Account.isLoading"
            @click="_fnReset()"
          >
            {{ $t(`table.cancel`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    model: "Account",
  }),
  methods: {
    _fnReset() {
      if (this.$refs.form) this.$refs.form.reset();
      this.fnResetFlagView(this.model);
    },
    _fnReFresh() {
      this._fnReset();
      this[this.model].isRefresh = true;
    },
    async _fnCreate() {
      const { code } = await this.fnPost({
        url: `/v1/admin/account`,
        model: this.model,
      });
      if (code === "Success") {
        this._fnReFresh();
      }
    },
    async _fnUpdate() {
      const { code } = await this.fnPut({
        url: `/v1/admin/account/${this[this.model].obj.id}`,
        model: this.model,
      });
      if (code === "Success") {
        this._fnReFresh();
      }
    },
    async _fnDelete() {
      const { code } = await this.fnDelete({
        url: `/v1/admin/account/${this[this.model].obj.id}`,
        model: this.model,
      });
      if (code === "Success") {
        this._fnReFresh();
      }
    },
  },
};
</script>
