<template>
  <v-layout>
    <v-col v-if="Role.isForm" cols :sm="12" class="pa-0">
      <v-form v-model="Role.isValid" ref="form">
        <v-card flat class="pt-5">
          <v-layout align-center class="px-3">
            <h2>{{ $t("menu.role") }}</h2>
            <v-spacer></v-spacer>
            <v-icon @click="_fnReset()" color="primary"> mdi-close </v-icon>
          </v-layout>
          <v-card-text>
            <v-row>
              <v-col cols :sm="12" class="py-0">
                <v-text-field v-model="Role.obj.name" :rules="[Rules.required]">
                  <template #label>
                    {{ $t(`table.name`) }}
                    <span class="red--text"><b>*</b></span>
                  </template>
                </v-text-field>
              </v-col>
            </v-row>
            <v-card class="mt-3 mb-5 pa-5 text-no-wrap" elevation="1">
              <v-row>
                <v-col cols :sm="12" class="pt-0 pb-2">
                  <v-layout align-center>
                    <v-col cols class="py-3">
                      <i>{{ $t(`table.permission`) }}: </i>
                      <b>{{ ListFrom.list.length || 0 }}</b>
                      unchoosed,
                      <b>{{ ListTo.list.length || 0 }}</b>
                      choosed
                    </v-col>
                    <v-col cols class="py-3 text-center">
                      <v-btnc
                        :height="22"
                        :width="50"
                        icon="mdi-arrow-right"
                        @click="_fnClickFrom()"
                        :disabled="!selectedFrom.length"
                      />
                      <v-btnc
                        :height="22"
                        :width="50"
                        icon="mdi-arrow-left"
                        @click="_fnClickTo()"
                        :disabled="!selectedTo.length"
                      />
                    </v-col>
                    <v-col cols class="py-3">
                      <v-text-field
                        dense
                        single-line
                        hide-details
                        v-model="search"
                        :placeholder="$t(`table.search`)"
                      />
                    </v-col>
                  </v-layout>
                </v-col>
                <v-col cols :sm="6" class="py-3">
                  <v-data-table
                    dense
                    must-sort
                    show-select
                    fixed-header
                    item-key="id"
                    :height="500"
                    :search="search"
                    :items="ListFrom.list"
                    v-model="selectedFrom"
                    :headers="cTableHeaders"
                    checkbox-color="primary"
                    :items-per-page="-1"
                    hide-default-footer
                  >
                  </v-data-table>
                </v-col>
                <v-col cols :sm="6" class="py-0">
                  <v-data-table
                    dense
                    must-sort
                    show-select
                    fixed-header
                    item-key="id"
                    :height="500"
                    :search="search"
                    :items="ListTo.list"
                    v-model="selectedTo"
                    :headers="cTableHeaders"
                    checkbox-color="primary"
                    :items-per-page="-1"
                    hide-default-footer
                  >
                  </v-data-table>
                </v-col>
              </v-row>
            </v-card>
          </v-card-text>
          <v-card-actions class="px-4 mt-5">
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              :loading="Role.isLoading"
              :disabled="!Role.isValid || !Role.obj.permissions.length"
              @click="Role.isCreate || Role.isClone ? _fnCreate() : _fnUpdate()"
            >
              {{
                Role.isCreate || Role.isClone
                  ? $t(`table.create`)
                  : $t(`table.update`)
              }}
            </v-btn>
            <v-btn
              outlined
              color="primary"
              :loading="Role.isLoading"
              @click="_fnReset()"
            >
              {{ $t(`table.cancel`) }}
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-col>

    <v-dialog
      persistent
      scrollable
      max-width="500"
      v-if="Role.isDelete"
      v-model="Role.isDelete"
    >
      <v-card>
        <v-card-title dense class="headline primary" />
        <v-card-text class="pt-2">
          {{ $t(`table.deleteMess`) }}
          <b>{{ Role.obj.name }}</b>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" :loading="Role.isLoading" @click="_fnDelete()">
            {{ $t(`table.delete`) }}
          </v-btn>
          <v-btn
            outlined
            color="primary"
            :loading="Role.isLoading"
            @click="_fnReset()"
          >
            {{ $t(`table.cancel`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    model: "Role",
    search: "",
    selectedTo: [],
    selectedFrom: [],
  }),
  computed: {
    cTableHeaders() {
      return [
        {
          text: this.$t(`table.name`),
          value: "name",
        },
      ];
    },
  },
  created() {
    if (this[this.model].isForm) this._fnGetPermission();
  },
  methods: {
    _fnReset() {
      if (this.$refs.form) this.$refs.form.reset();
      this.fnResetFlagView(this.model);
    },
    _fnReFresh() {
      this._fnReset();
      this[this.model].isRefresh = true;
    },
    async _fnCreate() {
      const { code } = await this.fnPost({
        url: `/v1/admin/role`,
        model: this.model,
      });
      if (code === "Success") {
        this._fnReFresh();
      }
    },
    async _fnUpdate() {
      const { code } = await this.fnPut({
        url: `/v1/admin/role/${this[this.model].obj.id}`,
        model: this.model,
      });
      if (code === "Success") {
        this._fnReFresh();
      }
    },
    async _fnDelete() {
      const { code } = await this.fnDelete({
        url: `/v1/admin/role/${this[this.model].obj.id}`,
        model: this.model,
      });
      if (code === "Success") {
        this._fnReFresh();
      }
    },
    _fnGetPermission() {
      this.ListFrom.list = this.Meta.obj["PERMISSION"]
        .filter((e) => !this[this.model].obj.permissions.includes(e.id))
        .sort((a, b) => (a.opts.group < b.opts.group ? -1 : 1));
      this.ListTo.list = this.Meta.obj["PERMISSION"]
        .filter((e) => this[this.model].obj.permissions.includes(e.id))
        .sort((a, b) => (a.opts.group < b.opts.group ? -1 : 1));
    },
    _fnClickFrom() {
      const selected = this.selectedFrom.map((e) => e.id);
      this[this.model].obj.permissions.push(...selected);
      this._fnGetPermission();
      this.selectedFrom = [];
    },
    _fnClickTo() {
      const selected = this.selectedTo.map((e) => e.id);
      this[this.model].obj.permissions = this[
        this.model
      ].obj.permissions.filter((e) => !selected.includes(e));
      this._fnGetPermission();
      this.selectedTo = [];
    },
  },
};
</script>
